@import "tailwindcss";

@media only screen and (min-width: 0) {
  body {
    background: #141423;

    background-repeat: repeat;
    color: #cdd6f4;
    font-family: "MS Gothic", sans-serif;
    font-weight: normal;
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  /*h1,
  h2,
  h3 {
    color: #f38ba8;

  }*/

  a {
    box-shadow: inset 0 0 0 0 #6c7086;
    color: #f38ba8;

    display: inline-block;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    text-decoration: none;
    transition: color .25s ease-in-out, box-shadow .25s ease-in-out;
  }

  /* Hover / active state */
  a:hover,
  a:active {
    box-shadow: inset 150px 0 0 0 #6c7086;

    color: #f38ba8;

    text-decoration: none;

  }

  i {
    color: #a6adc8;

  }

  .dead-link {
    color: #f9e2af;

    text-decoration: none;
  }

  blockquote {
    text-align: justify;
  }


  ul {
    list-style-position: inside;
  }

  .voidfiend {
    filter: drop-shadow(5px 5px 10px #ffffff);
  }

  footer {
    /*position: absolute;
    bottom: 0;*/
  }

  .otherFont {
    font-family: monospace;
  }
}