@import "tailwindcss";

@media only screen and (min-width: 0) {
  body {
    background: #141423;

    background-repeat: repeat;
    color: #cdd6f4;
    font-family: "MS Gothic", sans-serif;
    font-weight: normal;
  }


  a {
    box-shadow: inset 0 0 0 0 #6c7086;
    color: #f38ba8;
    display: inline-block;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    text-decoration: none;
    transition: color .25s ease-in-out, box-shadow .25s ease-in-out;
  }

  a:hover,
  a:active {
    box-shadow: inset 150px 0 0 0 #6c7086;
    color: #f38ba8;
    text-decoration: none;
  }

  i {
    color: #a6adc8;
  }

  ul {
    list-style-position: inside;
  }

  .voidfiend {
    filter: drop-shadow(0px 0px 15px hsl(250, 33%, 50%));
  }

}